main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    /* color: red; */
}

#home{
    color: #fff;

}

.side-container{
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container-login{
    /* background-color: red; */
    min-width: 300px;
    width: 50%;
}

.login-title{
    color: #060e33;
    margin-bottom: 10px;
}

.login{
    width: 100%;
    /* margin-bottom: 50px; */
}


.remember{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(.5rem, .5rem + 1vw, .8rem);
    margin-bottom: 30px;
}

.register{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    
}